*{
    margin-right:1200px ;
    margin-top:20px;
    padding: 0;
}
.awesomefont{
    margin-right:1200px ;
        padding: 0;
    display: flex;
    width: 100vw;
    justify-content: flex-end;
}
.search{margin-left:50px ;}