.page{color:rgb(13, 37, 136);
}

.awesomefont2
{ margin-bottom: 200px;
    padding: 0px;
display: flex;
width: 100vw;
justify-content: flex-end;

}
.profilebutton{height:40px;
width:150px;
background-color: rgb(100, 129, 58);
margin-left: 900px;
margin-top: 300px;
justify-content: center;
display: flex; 
align-items: center;
}

#searchicon{
margin-top:15px;
margin-left: 150px;
position: absolute;


}
#bar{ position: relative;
    margin-left: 200px;
    margin-bottom: 190px;
     
}

